<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="contenido">
  <div>
    <h1>RegistrAPP</h1>
  </div>
  <img src="assets/logo.png" alt="">
  <h1>Trabajo realizado por:</h1>
  <p>David Bravo Aravena</p>
  <p>Javier de la Jara vera</p>
  <br>
  <div>
    <p>Alumnos de 4to semestre</p>
    <p>ingeniería en informática</p>
    <p>Duoc UC Maipú</p>
  </div>
  
</ion-content>
