<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="persona">
    <img src="assets/persona.jpg" alt="" class="persona">
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Marco Antonio Alegre</ion-card-title>
      <ion-card-subtitle>Profesor / Alumno</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>
