<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()" color="primary">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="box" href="geneqr">
  <ion-card-header>
    <ion-card-title>Generar QR</ion-card-title>
    <ion-item>
      <ion-icon slot="end" name="qr-code-outline" class="qr"></ion-icon>
    </ion-item>
  </ion-card-header>
  <ion-card-content>
    <p>Profesor</p>  
  </ion-card-content>
</ion-card>
<ion-card class="box" href="readqr">
  <ion-card-header>
    <ion-card-title>Leer QR</ion-card-title>
    <ion-item>
      <ion-icon slot="end" name="camera" class="qr"></ion-icon>
    </ion-item>
  </ion-card-header>
  <ion-card-content>
    <p>Alumno</p>
  </ion-card-content>
</ion-card>

</ion-content>

