<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>Generar QR</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header> 
    </ion-card-header>
    <ion-card-content>
      <img src="assets/codigo_qr.png" alt="">
    </ion-card-content>
  </ion-card>
  <ion-button expand="block" color="primary" class="codigo" >Generar nuevo código</ion-button>
</ion-content>
