<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Correo</ion-label>
      <ion-input type="Email" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" expand="block" [routerLink]="['/inicio']">Iniciar sesión</ion-button>
        <a [routerLink]="['/forgot-password']" class="forgot">¿Olvidaste tu contraseña?</a>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
